@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-wrapper {
    height: 100vh;
    background-color: rgb(238, 248, 142);
    overflow-y: auto;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-title, .time-period {
    font-family: "Gothic A1", sans-serif;
}

.button-add {
    background-color: rgb(145, 192, 236);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;
    font-family: "Gothic A1", sans-serif;
    font-size: 30px;
    color: white;
}

.text-base {
    width: 50%;
    height: 30px;
    padding-left: 20px;
}

.date-base {
    font-family: "Gothic A1", sans-serif;
    color: gray;
}

.text-base, .date-base {
    border: none;
    border-radius: 10px;
}

.todo-wrapper {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 20px;
    background-color: white;
    border-radius: 10px;
    font-family: "Gothic A1", sans-serif;
}

.todo-wrapper.done {
    background-color: rgb(235, 174, 187);
}

.todo-wrapper.done div {
    text-decoration: line-through;
}

button.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.todo-body {
    font-family: "Gothic A1", sans-serif;
    font-size: 15px;
}
.todo-date {
    font-family: "Gothic A1", sans-serif;
    font-size: 14px;
}