<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./dashboard.scss">
</head>

<body>
    <section class="dashboard-container" id="dashboard-container">
        <div class="logout-button"><button id="log-out">Log out</button></div>
        <div id="wrapper" class="dashboard-wrapper">
            <div class="dashboard-header">
                <h1>Dashboard</h1>
                <button id="add-user-btn">+</button>
            </div>

            <div class="data-list" id="data-container"></div>
        </div>

        <div id="modal-add" class="modal-window hidden">
            <h2>
                Create new user
            </h2>

            <div class="modal-form">
                <label for="fullname">Full name*:</label>
                <input type="text" name="fullname" id="fullname">

                <label for="login">Login*:</label>
                <input type="text" name="login" id="login">

                <label for="balance">Balance($)*:</label>
                <input type="number" name="balance" id="balance">

                <div class="is-admin">
                    <label for="isAdmin">Is Admin:</label>
                    <input type="checkbox" name="isAdmin" id="isAdmin">
                </div>
            </div>

            <div class="buttons">
                <button class="btn-primary" id="submit-btn">Submit</button>
                <button class="btn-secondary" id="cancel-btn">Cancel</button>
            </div>
        </div>

        <div id="modal-edit" class="modal-window edit hidden">
            <h2>
                Edit user
            </h2>

            <div class="modal-form">
                <label for="fullname">Full name*:</label>
                <input type="text" name="fullname" id="fullname-edit">

                <div class="is-admin">
                    <label for="isAdmin">Is Admin:</label>
                    <input type="checkbox" name="isAdmin" id="isAdmin-edit">
                </div>
            </div>

            <div class="buttons">
                <button class="btn-primary" id="submit-btn-edit">Submit</button>
                <button class="btn-secondary" id="cancel-btn-edit">Cancel</button>
            </div>
        </div>
    </section>

    <script src="./dashboard.js" type="module"></script>
</body>

</html>