.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    .logout-button {
        align-self: end;
        margin-right: 100px;
    }

    .dashboard-wrapper {
        width: 90%;
        height: 80%;

        h1 {
            margin-bottom: 50px;
        }

        .data-list {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
            outline: 1px solid gainsboro;

            .user-wrapper {
                height: 70px;
                display: flex;
                padding: 10px 20px;
                border-bottom: 1px solid gainsboro;
                align-items: center;

                button {
                    margin-left: auto;
                    width: 200px;
                    cursor: pointer;
                }
            }
        }
    }
}