@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif Display', sans-serif;
}

body {
    background-color: #FFFAF0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    gap: 5px;
}

.todos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

#add-btn, #delete-btn {
    width: 130px;
    height: 40px;
    background-color: transparent;
    border: solid 1px #000;
    cursor: pointer;
}

#add-btn:hover, #delete-btn:hover {
    background-color: #D2B48C;
    color: #fff;
    border: solid 1px #D2B48C;
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 565px;
    height: 50px;
    background-color: #D2B48C;
    gap: 5px;
    color: #fff;
}

.delete-btn {
    width: 50px;
    height: 20px;
    background-color: transparent;
    border: solid 1px #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
}

.complete-btn {
    cursor: pointer;
}

.todo-item.checked {
    background-color: #A9A9A9;
    opacity: 0.4;
}

.todo-item.delition {
    animation: opacity 1s ease-in-out;
}

@keyframes opacity {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 0;
    }
}
